html,
body,
#root,
.app,
.content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: #82b1ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #448aff;
}